
<html>
	<body>
		<h4>Text file viewer</h4>
		<select id='textFile'>
		 	%options%	// text파일들만! 전체 옵션 출력
		</select>
		
		<!-- src 속성의 주소값 : ex) textView.do?textFile=filename(path?) -->
		<iframe id="viewer" src=""></iframe> // 파일하나 선택할때마다 iframe src에 출력
	<IFASFSA>?	
</body>
</html>