<html>
	<body>
		<h4>Text file viewer</h4>
		<select id='textFile'>
			%options%
		</select>
		
		<!-- src 속성의 주소값 : ex) textView.do?textFile=filename(path?) -->
		<iframe id="viewer" src=""></iframe>
	</body>
</html>